<p>
  In Angular, components are directives with templates. Component directives
  have templates whereas Structural and Attribute directives don’t have
  templates. Instead, they’re tailored to DOM manipulation. The component
  directive comes with template or template URLs that represent something in
  DOM. So we can say that the component directive is a cleaner version of the
  Directive as it comes with a template, which is easier to use.
</p>
<p>In component directives, you’ll find three main parameters which include:</p>

<ul class="list-group">
  <li class="list-group-item">
    (i) selector: It represents the template tag which specifies the starting
    and end of the Component.
  </li>
  <li class="list-group-item">
    (ii) templateUrl: It defines which particular template is for the component.
  </li>
  <li class="list-group-item">
    (iii) styleUrls: It includes all the types of fashion formats for the actual
    component.
  </li>
</ul>
