<p>
  Lastly, we have Attribute directives. Such directives manipulate the
  appearance and behavior of DOM elements. Developers can use Attribute
  directives when they want to change or alter the style of DOM elements and
  show or remove elements according to a changing property. You might know that
  Angular offers various built-in Attribute Directives like NgClass, NgStyle,
  and much more.
</p>

<p>
  To change the style of any DOM element based on certain conditions, you need
  to execute.
</p>
