<div class="d-flex justify-content-center flex-column flex-nowrap">
  <h1>What are Directives in Angular?</h1>
  <p>
    Directives in Angular are functions that will automatically execute whenever
    the Angular compiler finds them which enhances the capability of HTML
    elements by binding custom behaviors to the DOM. Basically, developers use
    Angular directives to manipulate the DOM, for instance, by using Directives
    Angular development company can easily add or delete an HTML element from
    the DOM or change the appearance of the DOM host elements.
  </p>

  <p>
    From the core concept, directives in Angular are categorized into three main
    categories.
  </p>
  <div class="row">
    <div class="col-11">
      <!-- <ul class="list-group">
        <li class="list-group-item">Components directives</li>
        <li class="list-group-item">Structural directives</li>
        <li class="list-group-item">Attribute directives</li>
      </ul> -->
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Components directives </mat-panel-title>
            <mat-panel-description>
              Selector, TemplateUrl, StyleUrls
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <component-directive></component-directive>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Structural directives </mat-panel-title>
            <mat-panel-description>
              NgIf, NgFor, NgSwitch
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <structural-directive></structural-directive>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Attribute Directives </mat-panel-title>
            <mat-panel-description> NgClass, NgStyle </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <attribute-directive></attribute-directive>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Custom Directives </mat-panel-title>
            <mat-panel-description> @Directive </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <custom-directive></custom-directive>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
