<mat-toolbar color="primary" class="d-flex justify-content-between">
  <button
    (click)="onDrawerClick('click')"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <button
    *ngIf="!isLightTheme"
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
    (click)="onThemeChange()"
  >
    <mat-icon>wb_sunny</mat-icon>
  </button>
  <button
    *ngIf="isLightTheme"
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
    (click)="onThemeChange()"
  >
    <mat-icon>brightness_3</mat-icon>
  </button>
</mat-toolbar>
