<p>
  This is the type of directive that is responsible for making a change to the
  structure of the DOM or we can say editing the layout of the DOM. You can add
  or delete the elements from the DOM to change or alter the element’s behavior
  or appearance.
</p>
<p>
  One can easily identify the difference between Attribute and structural
  directive just by looking at the syntax. The Attribute directive doesn’t
  contain any prefix whereas when it comes to Structural Directive, it always
  starts with an asterisk. In short, we can say that Structural directives are
  specially designed to build and destroy DOM elements. If you have ever worked
  with Angular and come across directives, then you must be knowing that the
  three most commonly used built-in structural directives in Angular are:
</p>
<ul class="list-group">
  <li class="list-group-item">NgIf</li>
  <li class="list-group-item">NgFor</li>
  <li class="list-group-item">NgSwitch</li>
</ul>
